<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <img  src="/assets/nikeLogo.png" class="image1">
  </ion-header>
  <img src="/assets/pratica/nikeShoe.png" class="image2">
  <div class="div1">
    <ion-card-title>SUMMER COLLECTIONS</ion-card-title>
    <ion-card-title style="color:white">2022</ion-card-title>
    <ion-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a mass justo lacinia accumsan.</ion-card-subtitle>
  </div>
  <ion-toolbar class="toolbar1">
  <ion-button class="button1" shape="round" size="large">GET STATED →</ion-button>
  </ion-toolbar>
  </ion-content>
